* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

nav {
    background-color: #EC008D;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu a:hover {
    color: #fff;
}

.menu a::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    background-color: #6EACDA;
    transition: all .5s;
}

.menu a:hover::before {
    width: 100%;
}

.menu li {
    margin: 25px;
    font-weight: bold;
}

.menu li a {
    color: #f0f0f0;
}

/**DESC PRODUCT**/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 200px 0px 200px;
    gap: 30px;
}

.content {
    flex: 1;
    margin-left: 20px;
}

.content p {
    font-size: 17px;
    line-height: 1.6;
}


.readmore {
    margin-top: 20px;
    display: block;
    padding: 10px 20px;
    background-color: #EC008D;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s ease;
    text-align: center;
}

.readmore:hover {
    background-color: #1E3163;
}

@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .image,
    .content {
        margin: 0;
        margin-bottom: 20px;
    }

    .title {
        font-size: 38px;
        margin-bottom: 50px;
    }
}

.price p {
    font-weight: bold;
    font-family: "Lustria", serif;
    text-align: center;
    font-size: 30px;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #f0f0f0;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

.content {
    width: 100%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #F0A8D0;
}

.content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

p {
    text-align: center;
    color: black;
    padding-top: 0 8px;
}

h6 {
    font-size: 26px;
    text-align: center;
    color: #1E3163;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

li {
    padding-top: 5px;
}

.fa {
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}

.fa:hover {
    transform: scale(1.3);
    transition: .6s;
}

button {
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
